extends layout

block content
  form(action="/tasks/add", method="post")
    label(for="title")
      | Tytuł
    br
    input(type="text" id="title" name="title")
    br
    label(for="desc")
      | Opis
    br
    input(type="text" id="desc" name="desc")
    input(type="submit", value="Dodaj")
    table
      tr
        th(scope="col") Tytuł
        th(scope="col") Opis
      each task in tasks
        tr
          td= task.title
          td= task.desc
