extends layout

block content
  form(action="/tasks/add", method="post")
    label(for="title")
      | Tytuł
    br
    input(type="text" id="title" name="title")
    br
    label(for="desc")
      | Opis
    br
    input(type="text" id="desc" name="desc")
    input(type="submit", value="Dodaj")
